body {
  font-family: 'Montserrat';
  background-color: #292929;
  color: white;
}

/* Main app content */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  margin-bottom: 0px;
}

.btn {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Montserrat';
  
  border-radius: 0.5rem;
  border: 1px solid #808080;
  
  margin: 0.7rem;
  padding: 0.5rem;
  font-size: 1.2rem;

  transition-duration: 0.1s;
}

.btn:hover {
  background-color: #303030;
}

.btn:active {
  background-color: #606060;
}

.input-group input {
  color: white;
  background-color: #202020;

  font-size: 1.2rem;
  font-family: 'Montserrat';
  padding: 0.5rem;

  border: 1px solid #808080;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: 0px;
}

.input-group .btn {
  margin-left: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

/* Mancala board styles */

table {
  margin-left: auto;
  margin-right: auto;

  background-color: #e3a812;
  border-radius: 1.5rem;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  height: 10rem;
  box-sizing: border-box;
}

.mancala-store {
  background-color: #ad800c;
  border: 2px solid rgba(0, 0, 0, 0.3);
  
  border-radius: 1.5rem;
  padding: 1rem;
  min-width: 2rem;
}

.pit {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.6rem;
  color: white;

  transition-duration: 0.1s;
  min-width: 3.6rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.3);

  background-color: darkviolet;

  animation-duration: 0.2s;
}

.pit-0 { background-color: #ad800c; }
.pit-1, .pit-2 { background-color: darkred; }
.pit-3, .pit-4 { background-color: darkorange; }
.pit-5, .pit-6 { background-color: darkgreen; }
.pit-7, .pit-8 { background-color: darkblue; }

.pit-active { border: 3px solid yellow; }
.pit-active:hover { border: 1px solid yellow; }
.pit-active:active { animation-name: press; }

@media (max-width: 480px) {
  .mancala-board { width: 100%; }
  .pit { min-width: 100%; }
  .mancala-store { padding: 0px; }
}

/* Animations */

@keyframes press {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(0.9);
  }
  100% {
      transform: scale(1);
  }
}

/* Fonts */

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Montserrat-Bold.ttf');
}